__pycache__/
tmp
.vscode

# Input files
eqcctone/notebooks/mseed_raw/*

# Keep the destination folder for .mseed files
!eqcctone/notebooks/mseed_raw/.gitkeep

# Generated folders and files
eqcctone/notebooks/mseed_processed/*
eqcctone/notebooks/detectionsCustom/*
eqcctone/notebooks/time_tracks.pkl

eqcctone/*.egg-info/

# EQCCTPro smoke test directories
eqcctpro/data/230_stations_1_min_dt/
eqcctpro/results/csv/smoke_test/

eqcctpro/data/**/*.qkml
eqcctpro/data/waveforms_earthquakes_nonoise_nonhh_backup
