# Input files
eqcctone/notebooks/mseed_raw/*

# Keep the destination folder for .mseed files
!eqcctone/notebooks/mseed_raw/.gitkeep

# Generated folders and files
eqcctone/notebooks/mseed_processed/*
eqcctone/notebooks/detectionsCustom/*
eqcctone/notebooks/time_tracks.pkl

eqcctone/*.egg-info/
